.encabezado{
    background-color: rgb(175, 150, 175);
    width: 100%;
    height: 200px   ;
    font-size: 120px;
    text-align: center;
}
.contenedor{
    background-color: rgb(206, 177, 226);
    width: 100%;
    height: 1400px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}